<div>
                            <div class="discover-box">
                                <a href="{{ card_collection.url }}">
                                    <div class="box-img">
                                        <img src="{{ image | img_url:'master' }}" width="182" height="182" alt="{{ card_collection.title | escape }}" loading="lazy">
                                    </div>
                                    <div class="description">
                                        <h4>{{ card_collection.title }}</h4>
                                    </div>
                                </a>
                            </div>
                        </div>