{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<div class="header__search">
  <button
    class="header__icon header__icon--search header__icon--summary link focus-inset"
    data-search-trigger
    aria-label="{{ 'general.search.search' | t }}"
  >
    <span>
      <svg class="icon icon-search" aria-hidden="true" focusable="false">
        <use href="#icon-search">
      </svg>
    </span>
  </button>
</div>
