{% comment %}
  Media Logos Component - Small version for header
{% endcomment %}

<div class="media-logos-header">
  
  {% comment %} <span class="font-custom-header-badge">
    Troste winnaar van
  </span>
  <div class="media-logo-item">
    <img src="{{ 'shopping-awards-logo-dark.png' | asset_url }}" alt="Slam!" class="logo-slam-header" width="auto" height="36">
  </div> {% endcomment %}

  <div class="media-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0563/8412/7158/files/shopping-awards-label-header.png?v=1776063380" alt="Shopping Awards Winnaar 2026" class="logo-slam-header" width="auto" height="36">
  </div>

</div>

<style>
  .media-logos-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .font-custom-header-badge {
margin: 0;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  .webwinkelkeur-img {
display: flex;
align-items: center;
 gap: 20px;
}

  .media-logo-item {
    display: flex;
    align-items: center;
  }

  .logo-100nl-header,
  .logo-slam-header {
    height: 40px;
    width: auto;
  }

  .logo-100nl-header:hover,
  .logo-slam-header:hover {
    opacity: 1;
  }

  /* Hide main header version on mobile - similar to webwinkelkeur */
  @media screen and (max-width: 768px) {
    .media-logos-header {
      display: none;
    }

    .drawer-navbar-nav .reviews-info .webwinkelkeur-img img {
max-height: 36px;
  }

  /* Mobile menu specific styling - show in mobile drawer */
  .media-logos-mobile {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .media-logos-mobile .media-logos-header {
    display: flex !important; /* Override the mobile hide rule */
  }



</style>
