<span>
  {% for i in (1..5) %}
    <img
      src="https://cdn.shopify.com/s/files/1/0563/8412/7158/files/star-icon_c492d5e0-6ad4-4f99-b25f-8767fe8cdb9e.svg?v=1750165098"
      alt="full-stars"
      width="14"
      height="14"
    >
  {% endfor %}
</span>