<section class="overview-banner-detail">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-12">
              <div class="description">
                  <h3>{{ section.settings.title }}</h3>
                  <p>
                      {{ section.settings.description }} <a href="javascript:void(0)" class="toggle-link" id="toggleLink">{{ section.settings.button }}</a>
                  </p>
              </div>
          </div>
          <div class="col-md-6 col-sm-12">
              <div class="banner-img">
                  <img src="{{ section.settings.image | img_url: 'master' }}" alt="" />
              </div>
          </div>
      </div>
  </div>
</section>

<script>
    const toggleLink = document.getElementById('toggleLink');
    const content = document.querySelector('.content');

    toggleLink.addEventListener('click', function () {
        if (content.style.display === 'none' || content.style.display === '') {
            content.style.display = 'inline';
            toggleLink.textContent = ' Minder lezen';
        } else {
            content.style.display = 'none';
            toggleLink.textContent = ' Meer lezen';
        }
    });
</script>
{% schema %}
  {
    "name": "Overview detail",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "html",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Overview detail"
      }
    ]
  }
{% endschema %}