<!-- locations Banner -->
<section class="locations-banner">
    <div class="container">
        <div class="breadcrumb">
            <a href="javascript:void(0);" class="btn-back" onclick="history.go(-1); return false;">Ga terug</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li>Winkels</li>
            </ul>
        </div>
        <h2>{{ page.title }}</h2>
    </div>
</section>
<!-- End locations Banner -->
{% schema %}
  {
    "name": "Winkels Banner",
    "settings": [],
    "presets": [
      {
        "name": "Winkels Banner"
      }
    ]
  }
{% endschema %}